			html
			{
				width: 95%;
				height: 95%;
			}

			img.gavel {
				padding-top: 1.3vw;
				padding-bottom: 1.3vw;
				text-align: center;
				width: 5vw;
			}

			td.shareButton {
				padding-top: 2vw;
			}

			body {

				position: relative;
				text-align: center;
				width: 99%;
				top: 45%;
				transform: translateY(-32%);
			}

			div {
				padding-top: 0px;
				padding-bottom: 0px;
			}

			p.haiku {
				font-size: 4.6vw;
				text-align: center;
				padding-bottom: 0px;
				line-height: 10px;
				margin-bottom: 5vw;
				font-family: 'Lato', sans-serif;
				/*font-family: Arial, Helvetica, sans-serif;*/
				/*font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif;*/
				/*font-family: Garamond, Baskerville, “Baskerville Old Face”, “Hoefler Text”, “Times New Roman”, serif;*/
			}

			p.casename {
				font-size: 2.6vw;
				font-style: oblique;
				padding-top: 5px;
				line-height: 3vw;
				text-align: center;
				/*font-family: "Times New Roman", Times, serif;*/
				/*font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;*/
				/*font-family: Rockwell, “Courier Bold”, Courier, Georgia, Times, “Times New Roman”, serif;*/
				font-family: Garamond, Baskerville, “Baskerville Old Face”, “Hoefler Text”, “Times New Roman”, serif;


			}
			td.voting {
				padding-left: 1.35vw;
			}

						input[type=submit].remove {
				border:0 none;
				cursor:pointer;
				font-style: inherit;
				font-size: 1.5vw;
			}

			table {
				border: 0px;
				max-width: 90%;
			}

			code, kbd, pre, samp {
		 	   font-family: "Arial Black", Gadget, sans-serif;
			}

			input, button, select, textarea {
			font-family: "Times New Roman";
			font-size: inherit;
			line-height: inherit;
			color: gray;
			padding-left: 10px;
			}

/*			td {
				border-style: solid;
				border-width: 1px;
			}*/